*{
    margin:0;
}

nav{
    height:60px;
    width:auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(87,112,19);
background: linear-gradient(90deg, rgba(87,112,19,1) 43%, rgba(35,169,193,1) 100%);

}

nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

.logo{
   color:#fff;
    
}

.nav-sevices ul{
    display: inline-flex;
}

.nav-sevices ul li{
    list-style: none;
    font-size:20px;
    margin:20px;
}

.nav-sevices ul li a{
    text-decoration: none;
    font-weight:bold;
    color:#a53860;
}

.nav-sevices ul li a:hover{
    color:blue;
    text-decoration: underline;
}

.heading{
    text-align: center;
}

.container{
    height:600px;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( rgba(0,0,0,0), rgba(0,0,0,1)), url("college.jpg");
    background-position: center;
    background-size: cover;
}

.heading{
    color:rgba(235, 16, 63, 0.893);
}
.paragraph{
    margin-top:20px;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color:#fff;
}

.course{
    text-align: center;
    margin-top:30px;
}
.container2{
    height:300px;
    width:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box1,.box2,.box3{
    height:250px;
    width:300px;
   background-color: #f7ede2;
   text-align: center;
    
}

.box1 ul li{
   list-style: none;
   margin:20px;
   font-size:15px;
   font-weight: bold;
}

.box2 ul li{
    list-style: none;
    margin:20px;
    font-size:15px;
    font-weight: bold;
 }

 .box3 ul li{
    list-style: none;
    margin:20px;
    font-size:15px;
    font-weight: bold;
 }

 .container3{
    height:500px;
    width:auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top:20px;
 }

 .facilities{
    text-align: center;
    margin-top:100px;
    border-top:2px solid #a53860;
 }
 

 .mode1{
    height:480px;
    width:300px;
 }

 .mode1 h2,p{
    text-align: center;
    margin:10px;
 }

 .image1{
    height:300px;
    width:300px;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('libarary.jpg');
    background-size: cover;
    background-position: center;
    border-radius:20px;
    
 }

 .mode2{
    height:480px;
    width:300px;
 }

 .mode2 h2,p{
    text-align: center;
    margin:10px;
 }
 .image2{
    height:300px;
    width:300px;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('techers.jpg');
    background-size: cover;
    background-position: center;
    border-radius:20px;
    
 }

 .mode3{
    height:480px;
    width:300px;
 }

 .mode3 h2,p{
    text-align: center;
    margin:10px;
 }

 .image3{
    height:300px;
    width:300px;
    background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('audotorium.jpg');
    background-size: cover;
    background-position: center;
    border-radius:20px;
    
 }


 .container4{
    height:500px;
    width:auto;
    background-color: #a53860;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .container4 .pannel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:300px;
    width:800px;
    border-radius:10px;
    background-size: cover;
    background-image:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url('banner.jpg');
 }

 .pannel h2{
    color:#fff;
    text-align: center;
 }

 .button2 button{
    margin-top:30px;
    height:30px;
    width:120px;
    border-radius: 10px;
    border:none;
    background-color: rgb(240, 159, 9);
    cursor:pointer
 }

 .button2 button a{
    text-decoration: none;
    font-weight: bold;
 }
 
 button:hover{
   background-color: orangered;
   color:whitesmoke;
 }

 .container5{
    height:200px;
    width:auto;
    text-align: center;
    display: flex ;
    justify-content: center;
    align-items: center;flex-direction:column;
 }

 footer{
    padding:20px;
 }
 
 .icon .fa-brands{
    margin:20px;
    font-size:20px ;
    color:red;
 }

 .fa-regular{
    color:red;
 }



